<div class="row">
  <div class="btn-group">
    <button [routerLink]='["create"]' class="btn btn-primary">Create new organization</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Create Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let organization of _organizations">
        <td>{{organization.name}}</td>
        <td>{{organization.description}}</td>
        <td>{{organization.createDate}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteOrganization(organization.id)">Delete</button>
          <button [routerLink]='["update/" + organization.id]' class="btn btn-primary">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

