<div class="row">
  <div class="col-md-12">
    <p>Create Organization Form</p>
    <form [formGroup]="_myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea formControlName="description" class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <label for="createDate">Create Date</label>
        <input formControlName="createDate" type="date" class="form-control" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="_myForm.invalid">Create</button>
      </div>

    </form>
  </div>
</div>
